
.box1{
    width: 300px;
    height: 200px;
    background: url('images/haha.jpg') no-repeat center/cover;
    border-radius: 10px;
}

section{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

html, body{
    font-size: 16px;
    color: white;
    background-color:  rgb(10, 38, 71);
}

.avatar{
    background: url('images/haha.jpg') no-repeat center/cover;
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.myinfo{
    text-align: center;
    font-family: "Arial"; 
    font-size: 20px;
    /* font-weight: bold; */
    color: rgb(255,255,255);
}

.title-3{
    font-family: "Arial"; 
    font-size: 30px;
    font-weight: bold;
    color: rgb(255,255,255);
}

.aboutme{
    background-color: rgb(44, 116, 179);
}

.work{
    background-color: rgb(32, 82, 149);
}

.social{
    background-color: rgb(20, 66, 114);
}

.link{
    text-align: left;
    font-family: "Arial"; 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(231, 224, 201);
}

.info-work
{
    text-align: left;
    font-family: "Arial"; 
    font-size: 20px;
    color: rgb(255,255,255);
}
/* .social-container{
    
} */